.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 32px;
  gap: 24px;
}

.gallery-item {
  border: 1px solid #808080;
  width: 360px;
}

.gallery-image {
  display: block;
  width: 360px;
  height: 200px;
  object-fit: cover;
}

.image-info {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.info-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 12px;

  /* line-height: 16px; */
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.info-value {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;

  /* line-height: 24px; */
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.loader {
  --color-1: #4e75ff;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  display: none;
  margin: 30px auto;
}

.loader.is-visible {
  display: block;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 5px solid var(--color-1);
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
